<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css files/product.css">
</head>
    <body>
        <%- include('../includes/nav.ejs')%>
        <main class="main-input-list">
        <h2>
            add your new password and confirm it :
        </h2>
        <form action="/resetPassword/<%= userId %>/<%= token %>" method="POST">
            <div class="small-div">
                <label class="label-input" for="password">
                    password :
                </label>
                <input class="input-bar" type="password" name="password" id="password">
            </div>
            <div class="small-div">
                <label class="label-input" for="confirmpassword">
                    confirm password :
                </label>
                <input class="input-bar" type="password" name="confirmpassword" id="confirmpassword">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="input-button" type="submit">confirm</button>
        </form>
    <% if (errorMessage) { %>
        <p>
            <%=errorMessage %>
        </p>
    <% } %>
    <% if (errors) { %>
        <p>
            <%=errors %>
        </p>
    <% } %>
    </main>
    </body>
</html>