<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css files/product.css">
</head>
<body>

    <%- include('../includes/nav.ejs') %>

    <main class="main-input-list">
        <h2>
            You can edit your product from here :
        </h2>
        <form action="/admin/edit-product/step/<%- product._id ? product._id : ''  %>" method="POST" enctype="multipart/form-data">
            <div class="small-div">
                <label class="label-input" for="name">
                    Title : 
                </label>
                <input class="input-bar" type="text" name="name" id="name" value="<%= product.name%>">
            </div>
            <div class="small-div">
                <label class="label-input" for="image" name="image">
                    image : 
                </label>
                <input class="input-bar" type="file" name="image" id="image">
            </div>
            <div class="small-div">
                <label class="label-input" for="price" name="price">
                    add product price : 
                </label>
                <input class="input-bar" type="number" step="0.01" name="price" id="price" value="<%= product.price%>">
            </div>
            <div class="small-div">
                <label class="label-input" for="description" name="description">
                    Add product description : 
                </label>
                <input class="input-bar" type="text" name="description" id="description" value="<%= product.description %>">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="input-button" type="submit">edit product</button>
        </form>
        <% if (errors) { %>
            <p>
                <%= errors %>
            </p>
        <% } %>
    </main>
 
</body>
</html>