
<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css files/cart.css">
</head>
<%- include('../includes/nav.ejs')%>
<% if (cart.length === 0) { %>

    <h1>
        the cart is empty for now 
    </h1>

<% } else { %>
    <div class="main-div">
        <div class="main-div-cart-items">
            <% cart.forEach(elem => { %>
                <div class="items-div">
                    <p>
                        name : <%-elem.name %>
                    </p>
                    <p>
                        price : <%-elem.price %>
                    </p>
                    <p>
                        qunatity : <%-elem.cartItem.quantity %>
                    </p>
                    <form action="/cart/delete/<%-elem.id%>" method="POST">
                        <button type="submit">
                            delete
                        </button>
                    </form>
                </div>
            <% })} %>
        </div>
        <div class="main-div-pay">
            <h1>
                part where there would be the confomation and also the buying details
            </h1>
            <form action="/order/check" method="POST">
                <button type="submit">
                    add order
                </button>
            </form>
        </div>
    </div>



</html>