
<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css files/cart.css">
</head>
<%- include('../includes/nav.ejs')%>
<% if (cart.products.length === 0) { %>

    <h1>
        the cart is empty for now 
    </h1>

<% } else { %>
    <div class="main-div">
        <div class="main-div-cart-items">
            <% cart.products.forEach(elem => { %>
                <div class="items-div">
                    <p>
                        name : <%-elem.productId.name %>
                    </p>
                    <p>
                        price : $ <%-elem.productId.price %>
                    </p>
                    <p>
                        qunatity : <%-elem.quantity %>
                    </p>
                    <form action="/cart/delete/<%-elem.productId._id%>" method="POST">
                        <button type="submit">
                            delete
                        </button>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                </div>
            <% }) %>
        </div>
        <div class="main-div-pay">
            <h1>
                part where there would be the confomation and also the buying details
            </h1>
            <p>
                total price : $ <%= cart.totalPrice %>
            </p>
            <form action="/order/check" method="POST">
                <button type="submit">
                    add order
                </button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
        </div>
        <%}%>
    </div>



</html>