<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/nav.ejs') %>

  <% if (orders.length === 0) { %>
    <h1>No orders found.</h1>
  <% } else { %>
    <% orders.forEach(order => { %>
      <h2>Order ID: <%= order._id %></h2>
      <h2>total price : <%= order.cart.totalPrice%></h2>
      <% order.cart.products.forEach(product => { %>
        <p><%= product.name %>: <%= product.quantity %></p>
        <p>descreiption : <%= product.description %></p>
      <% }) %>
    <% }) %>
  <% } %>

</body>
</html>

