<%- include('../includes/head.ejs') %>
<style>
    html,body{
        margin: 0;
        height: 100%;
        width: 100%;
    }
    .product-details-div{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
    }
    .product-button{
        height: 30px;
        width: 100px;
        background-color: black;
        color: rgb(206, 206, 206);
        border-radius: 30px;
        border: none;
    }
    .product-button:hover{
        background-color: rgb(49, 49, 49);
        transition: 0.2s;
    }
    .product-button:active{
        background-color: rgb(85, 85, 85);
    }
</style>
</head>
<body>
    <div class="product-details-div">
        <%- include('../includes/nav.ejs')%>
        <h1>
            product name : <%= product.title %>
        </h1>
        <div>
            <img src="<%= product.image %>" alt="product image" />
        </div>
        <h2>
            product description : <%= product.description %>
        </h3>
        <h2>
            product price : <%= product.price %>
        </h2>
        <%- include('../includes/add-product-to-cart.ejs' , {product : product})%>
    </div>

</body>
